#header {
    background-color: #333;
}
#branding #site-name a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#user-tools {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#content.colMS h1 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.module caption {
    background-color: #333;
}
nav div.breadcrumbs{
    background-color: #333;
}
#content-start.djn-fieldset.module h2{
    background-color: #333;
}