{%extends "quiz/base.html" %}
{%block title%} Scores {{user.username}} {%endblock%}

{%block content%}
<div class="container" style="padding-top: 55px;">
    <h1 class="text-center"> All your scores {{user.username}} </h1>
    <div class="container col-md-6">
        {% for attempt in user_attempt%}
        <ol class="list-group">
            <li class="list-group-item text-center">
                {{attempt.quiz}} : {{attempt.score}}
            </li>
        </ol> 
        {%endfor%}
    </div>
</div>

{%endblock%}
